@charset 'UTF-8';

:root {
  margin: 0;

  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  line-height: 1.5;
  background: #000;
}

body {
  margin: 0;
  font-size: 1.4rem;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* 
.ui {
  transition: transform .05s;
}
.ui:active {
  transform: scale(0.95);
} */

.text-center {
  text-align: center;
}

.muted {
  color: rgba(0,0,0,.5);
}

small,
.small {
  font-size: 85.714286%; /* 12 */
}


.splash { 
  background: #fff; 
}
.splash a {
  color: inherit;
}
.splash-header {
  text-align: center;
}

.splash button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  padding: 0;
  appearance: none;
  box-shadow: none;
  outline: none;
}
.splash img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 12rem;
  height: auto;
  border: 0;
}


.splash.transition {
  transition: all .3s ease-in;
}
.splash.transition.out {
  transform: scale(3);
  opacity: 0;
}

/* @media (max-width: 900px) { */
  .splash-header {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  .splash-header-inner {
    max-width: 24rem;
    margin: 0 auto;
  }
  .brand-line {
    margin-top: 4rem;
    font-weight: 600;
  }
/* } */


.vcard-popup {
  position: fixed;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);

  transition: all .5s;
  transition-delay: .3s;
  background: #FFD157;
  font-weight: 600;
  border-radius: 3rem;
  padding: 0 1.5rem;
  box-shadow: rgba(0,0,0,.2) 0 .5rem 1rem;
  z-index: 1000;
  white-space: nowrap;
}

.vcard-popup a,
.vcard-popup button {
  display: inline-block;
  border: 0;
  padding: 1rem .5rem;
  background: transparent;
  font: inherit;
  line-height: inherit;
  color: inherit;
  text-decoration: none;
}

#vcard {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-50%) scale(.9);
}
#vcard.visible {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

/* debug */
#debug {
  position: fixed;
  top:0;
  left:0;
  color: #fff;
  z-index: 20000;
}

/* fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&subset=latin-ext');